@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-[87.5%] md:text-[93.75%] lg:text-[100%];
}
body {
  -webkit-font-smoothing: antialiased;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid rgb(36 180 255);
  -webkit-text-fill-color: rgb(100, 100, 100);
  -webkit-box-shadow: 0 0 0px 1000px rgb(249 250 251) inset;
  transition: background-color 5000s ease-in-out 0s;
}
