.container {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  background-color: #dddddd;
  min-height: 100vh;
  justify-content: space-between;
}

.main {
  display: flex;
  flex: 1;
  //background-color: white;
}

.main > section {
  padding: 32px;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
